Package: com.michael.appleturboboost
Name: Apple Turbo Boost
Depends: firmware (>= 12.0)
Conflicts: com.michael.appleilluminator
Architecture: iphoneos-arm
Maintainer: Halo_Michael <yc992147156@me.com>
Author: Halo_Michael <yc992147156@me.com>
Section: System
Version: 0.7.0
Description: Turbo Boost Your Apple!
 Turbo Boost Your Apple!
 Support iOS12~14.
